@import 'tailwindcss';

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

@theme {
  --color-red: #b42263;
  --color-green: #0cdf89;
  --color-blue: #0593bc;
  --color-purple: #87499c;
  --color-blue-brand: #4d77ff;
}
