@import 'tailwindcss';

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  @apply bg-background;
}

@theme {
  --color-red: #b42263;
  --color-green: #0cdf89;
  --color-blue: #0593bc;
  --color-purple: #87499c;
  --color-blue-brand: #4d77ff;

  --color-background: var(--background);
}

@layer base {
  :root {
    --background: #F1F5F9;
  }

  .dark {
    --background: #0F172A;
  }
}



