@import 'tailwindcss';

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-poppins), sans-serif;
  @apply bg-background;
  @apply text-main-text;
}

@theme {
  /* Stat colors */
  --color-red: #b42263;
  --color-green: #0cdf89;
  --color-blue: #26a3df;
  --color-purple: #87499c;

  /* Main brand color */
  --color-blue-brand: #4d77ff;

  /* background colors */
  --color-background: var(--background);
  --color-secondary-bg: var(--secondary-bg);

  /* text colors */
  --color-main-text: var(--main-text);
  --color-secondary-text: var(--secondary-text);

  /* footer border */
  --color-footer-border: var(--footer-border);
}

@layer base {
  :root {
    --background: #f1f5f9;
    --secondary-bg: #cbd5e1;
    --main-text: #1e293b;
    --secondary-text: #334155;
    --footer-border: #fff;
  }

  .dark {
    --background: #0f172a;
    --secondary-bg: #1e293b;
    --main-text: #fff;
    --secondary-text: #8d91a6;
    --footer-border: #ffffff99;
  }
}

footer {
  @apply bg-secondary-bg;
}
