@import 'tailwindcss';

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-poppins), sans-serif;
  @apply bg-background;
  @apply text-main-text;
  
}

@theme {
  --color-red: #b42263;
  --color-green: #0cdf89;
  --color-blue: #26A3DF;
  --color-purple: #87499C;
  --color-blue-brand: #4d77ff;

  /* background colors */
  --color-background: var(--background);
  --color-footer-bg: var(--footer-bg);

  /* text colors */
  --color-main-text: var(--main-text);
  --color-secondary-text: var(--secondary-text);

  --color-footer-border: var(--footer-border);
}

@layer base {
  :root {
    --background: #F1F5F9;
    --footer-bg: #CBD5E1;
    --main-text: #1E293B;
    --secondary-text: #334155;
    --footer-border: #FFF;
  }

  .dark {
    --background: #0F172A;
    --footer-bg: #1E293B;
    --main-text: #FFF;
    --secondary-text: #8D91A6;
    --footer-border: #FFFFFF99;
  }
}

footer {
  @apply bg-footer-bg;
}



