@import 'tailwindcss';

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

@theme {
  --color-red: #b42263;
  --color-green: #0cdf89;
  --color-blue: #0593bc;
  --color-purple: #87499c;
  --color-blue-brand: #4d77ff;
}

.table-col {
  @apply min-w-[200px] px-4 py-2 text-gray-600 whitespace-nowrap truncate overflow-clip;
}
